<p id="notice"><%= notice %></p>

<p>
  <strong>Class no:</strong>
  <%= @admin_class_room.class_no %>
</p>

<%= link_to 'Edit', edit_admin_class_room_path(@admin_class_room) %> |
<%= link_to 'Back', admin_class_rooms_path %>
